<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiSTerFilterPreviewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PolyphasePreviewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MiSTerFilterPreviewer.Properties.Settings>
            <setting name="ScaleX" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="ScaleY" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="LastFilter" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastImage" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutomaticRedraw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastGammaLut" serializeAs="String">
                <value/>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1200, 800</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SnesMode" serializeAs="String">
                <value>False</value>
            </setting>
        </MiSTerFilterPreviewer.Properties.Settings>
        <PolyphasePreviewer.Properties.Settings>
            <setting name="ScaleX" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="ScaleY" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="LastFilter" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastImage" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutomaticRedraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastGammaLut" serializeAs="String">
                <value/>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1200, 800</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SnesMode" serializeAs="String">
                <value>False</value>
            </setting>
        </PolyphasePreviewer.Properties.Settings>
    </userSettings>
</configuration>
